<div *ngIf="router.routerState.snapshot.url === '/perfil/painel'; else elseTemplate">
  <mat-card class="matContainer">
    <div class="img">
      <img mat-card-image src="assets/foto-perfil.png" alt="Foto de perfil" height="120px" width="120px">
    </div>
    <div class="info ">
      <mat-accordion>
        <mat-expansion-panel class="d-flex flex-column justify-content-start" [expanded]="step === 0" disabled="">
          <mat-expansion-panel-header>
            <mat-panel-title class="d-flex gap-2 justify-content-between">
              Informações Básicas
            </mat-panel-title>
            <mat-panel-description>
              <button mat-icon-button color="primary" matTooltip="Editar perfil" (click)="chamarComponentePerfilCreate()">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row" >
            <strong>
              <span class="row">Nome: {{ saveData.nome_completo }}</span>
              <span class="row">Titulação: {{ saveData.titulacao }}</span>
              <span class="row">Instituto: {{ saveData.instituto }}</span>
              <span class="row">E-mail: {{ saveData.email }}</span>
            </strong>
          </div>
        </mat-expansion-panel>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Mais Informações
              </mat-panel-title>
              <mat-panel-description class="d-flex justify-content-end">
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" >
              <strong>
                <span class="row">Classe: {{ saveData.classe }}</span>
                <span class="row">SIAGE: {{ saveData.siape }}</span>
                <span class="row">Vínculo: {{ saveData.vinculo }}</span>
                
              </strong>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-accordion>
    </div>
  </mat-card>
</div>
<ng-template #elseTemplate>
  <router-outlet></router-outlet>
</ng-template>
