.matContainer{
  border-radius: 2rem;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 2rem;
  width: 30rem;
  align-items: center;
  margin-top: 3rem;
}
mat-accordion{
  width: 25rem;
}

.img {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply ;
    border-bottom: 1px solid #115B2F;
}

.info {
    margin: 1rem;
    display: flex;
    padding-bottom: 4rem;
    font-family: roboto;
    font-size: medium;

}
.mat-button {
    background-color: #115B2F;
    color: black;
}
.mat-icon {
    color: black;
}
.mat-expansion-panel {
  margin: 1rem;
  border-bottom: 0.5rem;
  border-color:#3f3232;
  color: black;
  background-color: #FFF;
}

.mat-expansion-panel-header-description {
  flex-grow: 0  !important;
}

.mat-content.mat-content-hide-toggle {
  margin-right: 0px !important;
}
.matContainer{
  background-color:  rgb(25,122,64) !important ;
}
