<form class="form" [formGroup]="formProjetoExtensao">
  <!-- step 1 -->
  <ng-container *ngIf="step == 1">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>1 - Projeto de Extensão</h2>
        <button  mat-mini-fab (click)="openDialogProjetoExtensao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Título</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="titulo"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Função</mat-label>
            <mat-select formControlName="funcao">
              <mat-option value="Coordenador">Coordenador</mat-option>
              <mat-option value="Colaborador">Colaborador</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Cadastro PROEX</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="cadastro_proex"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Situação Atual</mat-label>
            <mat-select formControlName="situacao_atual">
              <mat-option value="Concluída">Concluída</mat-option>
              <mat-option value="Em andamento">Em andamento</mat-option>
              <mat-option value="Em pausa">Em pausa</mat-option>
            </mat-select>
          </mat-form-field>          
          
        </div>
        <div>
        </div>
      </div>

      <button mat-fab extended  (click)="goNext()"><span class="spans">Próximo</span></button>
      <button mat-fab extended type="button" (click)="submitProjetoExtensao()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
<form [formGroup]="formEstagioExtensao">
  <!-- step 2 -->
  <ng-container *ngIf="step == 2">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>2 - Estágio de Extensão</h2>
        <button  mat-mini-fab (click)="openDialogEstagioExtensao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Área do conhecimento</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="area_conhecimento"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Instituição ou Local</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="instituicao_ou_local"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Período</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="periodo"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>CH Semanal</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ch_semanal"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitEstagioExtensao()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
  <!-- step 3 -->
</form>
<form [formGroup]="formAtividadeEnsinoNaoFormal">
  <ng-container *ngIf="step == 3">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>3 - Atividade de Ensino não Formal </h2>
        <button  mat-mini-fab (click)="openDialogAtividadeEnsinoNaoFormal()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Atividade</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="atividade"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>CH Total Primeiro Semestre</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ch_total_primeiro_semestre"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>CH Total Segundo Semestre</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ch_total_segundo_semestre"></textarea>
          </mat-form-field>
          
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitAtividadeEnsinoNaoFormal()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>
  <!-- step 4 -->
<form [formGroup]="formOutraAtividadeExtensao">
  <ng-container *ngIf="step == 4">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>4 - Outras Atividades de Extensão</h2>
        <button  mat-mini-fab (click)="openDialogOutraAtividadeExtensao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Atividade</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="atividade"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>CH Total Primeiro Semestre</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ch_total_primeiro_semestre"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>CH Total Segundo Semestre</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ch_total_segundo_semestre"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitOutraAtividadeExtensao()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>

<form [formGroup]="formCHSemanalAtividadesExtensao">
  <ng-container *ngIf="step == 5">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>5 - CH Semanal Atividade de Extensão</h2>
        <button  mat-mini-fab (click)="openDialogCHSemanalAtividadesExtensao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Carga Horaria Primeiro Semestre</mat-label>
            <input matInput formControlName="ch_semanal_primeiro_semestre" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Carga Horaria Segundo Semestre</mat-label>
            <input matInput formControlName="ch_semanal_segundo_semestre" >
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitCHSemanalAtividadesExtensao()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
