<!-- login-form.component.html -->
<h2 class="login-title">Login</h2>
<button type="submit" class="btn-home">HOME</button>
<figure class="login-container">
  <form>
      <label for="username" class="usuario-title">Nome de Usuário ou Email</label>
      <input type="text" id="username" name="username" required>

      <label for="password" class="senha-title">Senha</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" class="btn-entrar">Entrar</button>

      <a href="#" class="esqueci-senha">Esqueci a senha</a><br>

      <a href="#" class="retangulo-cadastro">Realizar Cadastro</a>
  </form>
 
</figure>
