/* login-form.component.scss */
.login-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 40rem;
  height: 25rem;
  gap:  1rem;
}
form{
  flex-direction: column;
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

a {
  color: #6a0000;
}

.matContainer{
  border-top: 2px solid #6AD268;
  border-bottom: 2px solid #6AD268;
  border-radius: 2rem;
  width: 30rem;
  align-items: center;
}
app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.a-container{
  display: flex;
  flex-direction: column;
  color: #6a0000;
}

mat-form-field{
  width: 20vw;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #000 !important;
}
