<app-container >
  <div class="login">
    <img class="img-radoc" src="assets/SIS_RADOC_2.png" alt="Bem-vindo(a) ao SISRADOC - UFRA!"/>
    <mat-card class="login-container">
      <h1>Faça Seu Login</h1>
      <form [formGroup]="form">
        <mat-form-field [floatLabel]="this.floatLabelControl">
          <mat-label>Nome de usuário ou e-mail</mat-label>
          <input matInput type="text" formControlName="login" >
        </mat-form-field>
        <mat-form-field [floatLabel]="this.floatLabelControl">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" >
        </mat-form-field>
        <div >
          <a href="#" class="d-flex justify-content-end "><h4>Esqueci a senha?</h4></a><br>
        </div>
        <div *ngIf="ativacaoSucesso">
          <p>A sua conta foi ativada com sucesso! <br/>Você já pode fazer login.</p>
        </div>

          <button mat-fab extended [disabled]="form.invalid" style="border: 1px solid #115B2F;" type="submit" class="btn-entrar" (click)="login()">Entrar</button>

        </form>
        <div >
          <a><h2>Ainda não tem uma conta?<a [routerLink]="['/cadastro']">Cadastre-se.</a></h2></a>
        </div>
    </mat-card>
  </div>
</app-container>
