<form class="form" [formGroup]="formAtividadeGestaoRepresentacao">
  <!-- step 1 -->

  <ng-container *ngIf="step == 1">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>1 - Atividade de Gestão ou Representação</h2>
        <button  mat-mini-fab (click)="openDialogAtividadeGestaoRepresentacao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Cargo e/ou Função</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="cargo_e_ou_funcao"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Semestre</mat-label>
            <mat-select formControlName="semestre">
              <mat-option value="1">Primeiro semestre</mat-option>
              <mat-option value="2">Segundo semestre</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Carga Horária Semanal</mat-label>
            <input matInput formControlName="ch_semanal" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Ato de Designação</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="ato_de_designacao"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Período</mat-label>
            <input matInput formControlName="periodo" >
          </mat-form-field>
          
        </div>
        <div>
        </div>
      </div>

      <button mat-fab extended  (click)="goNext()"><span class="spans">Próximo</span></button>
      <button mat-fab extended type="button" (click)="submitAtividadeGestaoRepresentacao()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
<form [formGroup]="formQualificacaoDocenteAcademicaProfissional">
  <!-- step 2 -->
  <ng-container *ngIf="step == 2">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>2 - Qualificação Acadêmica Profissional ou Outra Atividade</h2>
        <button  mat-mini-fab (click)="openDialogQualificacaoDocenteAcademicaProfissional()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Atividades</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="atividades"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Portaria e/ou Data de Realização</mat-label>
            <input matInput formControlName="portaria_e_ou_data_de_realizacao" >
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitQualificacaoDocenteAcademicaProfissional()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>
  <!-- step 3 -->
<form [formGroup]="formOutraInformacao">
  <ng-container *ngIf="step == 3">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>3 - Outra Informação</h2>
        <button  mat-mini-fab (click)="openDialogOutraInformacao()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Atividades</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="atividades"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitOutraInformacao()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>

<form [formGroup]="formAfastamento">
  <ng-container *ngIf="step == 4">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>4 - Afastamento</h2>
        <button  mat-mini-fab (click)="openDialogAfastamento()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Motivação</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="motivacao"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Portaria</mat-label>
            <input matInput formControlName="portaria" >
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitAfastamento()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
