<form class="form" [formGroup]="formProjetoPesquisaProducaoIntelectual">
  <!-- step 1 -->

  <ng-container *ngIf="step == 1">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>1 - Projeto de Pesquisa ou de Produção Intelectual</h2>
        <button  mat-mini-fab (click)="openDialogProjetoDePesquisaOuProducaoIntelectual()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Título</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="titulo"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Função</mat-label>
            <mat-select formControlName="funcao">
              <mat-option value="Coordenador">Coordenador</mat-option>
              <mat-option value="Colaborador">Colaborador</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Cadastro PROPED</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="cadastro_proped"></textarea>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Situação Atual</mat-label>
            <mat-select formControlName="situacao_atual">
              <mat-option value="Concluída">Concluída</mat-option>
              <mat-option value="Em andamento">Em andamento</mat-option>
              <mat-option value="Em pausa">Em pausa</mat-option>
            </mat-select>
          </mat-form-field>          
          
        </div>
        <div>
        </div>
      </div>

      <button mat-fab extended  (click)="goNext()"><span class="spans">Próximo</span></button>
      <button mat-fab extended type="button" (click)="submitProjetoPesquisaProducaoIntelectual()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
<form [formGroup]="formTrabalhoCompletoPublicadoPeriodicoBoletimTecnico">
  <!-- step 2 -->
  <ng-container *ngIf="step == 2">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>2 - Trabalho completo publicado em periódicos, boletins técnicos e outros</h2>
        <button  mat-mini-fab (click)="openDialogTrabalhoCompletoPublicadoPeriodicoBoletimTecnico()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Descrição</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="descricao"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitTrabalhoCompletoPublicadoPeriodicoBoletimTecnico()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
  <!-- step 3 -->
</form>
<form [formGroup]="formLivroCapituloVerbetePublicado">
  <ng-container *ngIf="step == 3">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>3 - Livro, Capítulo de Livro ou Verbete publicado </h2>
        <button  mat-mini-fab (click)="openDialogLivroCapituloVerbetePublicado()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Descrição</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="descricao"></textarea>
          </mat-form-field>
          
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitLivroCapituloVerbetePublicado()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>
  <!-- step 4 -->
<form [formGroup]="formTrabalhoCompletoResumoPublicadoApresentadoCongressos">
  <ng-container *ngIf="step == 4">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>4 - Trabalho completo e resumo publicado e/ou apresentado em Congressos ou similares</h2>
        <button  mat-mini-fab (click)="openDialogTrabalhoCompletoResumoPublicadoApresentadoCongressos()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Descrição</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="descricao"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitTrabalhoCompletoResumoPublicadoApresentadoCongressos()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>

<form [formGroup]="formOutraAtividadePesquisaProducaoIntelectual">
  <ng-container *ngIf="step == 5">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>5 - Outra atividade de Pesquisa/Produção Intelectual</h2>
        <button  mat-mini-fab (click)="openDialogOutraAtividadePesquisaProducaoIntelectual()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Número do documento</mat-label>
            <input matInput formControlName="numero_doc" >
          </mat-form-field>

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Descrição</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" formControlName="descricao"></textarea>
          </mat-form-field>

        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitOutraAtividadePesquisaProducaoIntelectual()"><span class="spans">Salvar</span></button>
      <button mat-fab extended (click)="goNext()"><span class="spans">Próximo</span></button>
    </div>
  </ng-container>
</form>
<form [formGroup]="formCHSemanalAtividadesPesquisa">
  <ng-container *ngIf="step == 6">
    <div>
      <div style="display: flex; justify-content: center; gap: 1rem;">
        <h2>6 - Carga Horária Semanal para Atividades de Pesquisa</h2>
        <button  mat-mini-fab (click)="openDialogCHSemanalAtividadesPesquisa()"><mat-icon style="color: white;" fontIcon="toc"></mat-icon></button>
      </div>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="stepColunm">

          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Carga Horaria Primeiro Semestre</mat-label>
            <input matInput formControlName="ch_semanal_primeiro_semestre" >
          </mat-form-field>
          <mat-form-field [floatLabel]="this.floatLabelControl">
            <mat-label>Carga Horaria Segundo Semestre</mat-label>
            <input matInput formControlName="ch_semanal_segundo_semestre" >
          </mat-form-field>
        </div>
        <div class="stepColunm">
        </div>
      </div>
      <button style="margin-right: 10px;" mat-fab extended (click)="goBack()"><span class="spans">Voltar</span></button>
      <button mat-fab extended (click)="submitCHSemanalAtividadesPesquisa()"><span class="spans">Salvar</span></button>
    </div>
  </ng-container>
</form>
