<nav class="navbar navbar-dark bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/perfil/painel']"  >Relátorio Anual do Docente</a>
    <button *ngIf="isLogged" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark bg-success" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RADOC</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item ">
            <h4 class="nav-link active d-flex align-items-end gap-2" aria-current="page" href="#" [routerLink]="['/perfil/painel']"><mat-icon fontIcon="home"></mat-icon>Perfil</h4>
          </li>
          <li class="nav-item mt-3">
            <h4 class="nav-link d-flex align-items-end gap-2" [routerLink]="['/documento/ensino']"><mat-icon>school</mat-icon>Ensino</h4>
          </li>
          <li class="nav-item">
            <h4 class="nav-link d-flex align-items-end gap-2" [routerLink]="['/documento/pesquisa']"><mat-icon>laptop_chromebook</mat-icon>Pesquisa</h4>
          </li>
          <li class="nav-item">
            <h4 class="nav-link d-flex align-items-end gap-2" [routerLink]="['/documento/gestao']"><mat-icon>account_balance</mat-icon>Gestão</h4>
          </li>
          <li class="nav-item">
            <h4 class="nav-link d-flex align-items-end gap-2" [routerLink]="['/documento/extensao']"><mat-icon>extension</mat-icon>Extensão</h4>
          </li>
        </ul>
        <button class="btn d-flex align-items-center mt-3" mat-icon-button  [routerLink]="['/login']">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
