<div class="container inicio-inventario d-flex justify-content-center align-items-center">
    <mat-card class="d-flex justify-content-center align-items-center">
      <mat-card-header>
  
        <ng-container *ngIf="pesquisaForm; else elseButton">
          <mat-card-title>Relátorio de Pesquisa</mat-card-title>
          <button style=" top: -2px; left: 13px;" mat-mini-fab color="primary" (click)="viewList()">
            <mat-icon>list</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseButton>
          <mat-card-title>Relátorio de Pesquisa</mat-card-title>
          <button style=" top: -2px; left: 13px;" mat-mini-fab color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
      </mat-card-header>
      <mat-card-content class="text-center gap-1">
        <ng-container *ngIf="pesquisaForm; else elseTemplate">
          <app-pesquisa-create [pesquisaSize]="pesquisaSize" [pesquisa]="pesquisa" [isCreate]="isCreate"></app-pesquisa-create>
        </ng-container>
        <ng-template #elseTemplate>
  
          <div class="mat-elevation-z8" matSort>
            <table mat-table [dataSource]="pesquisaData">
  
              <!-- Id Column -->
              <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container> -->
  
              <!-- Tag Name Column -->
              <ng-container matColumnDef="tagName">
                <th mat-header-cell *matHeaderCellDef> Tag </th>
                <td mat-cell *matCellDef="let element"> {{element.tagName}} </td>
              </ng-container>
  
              <!-- Sector Column -->
              <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Setor"> Setor </th>
                <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
              </ng-container>
  
              <!-- Created Column -->
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>
                  Criado em
                </th>
                <td mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Apagar </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="warn" (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef> PDF </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" (click)="download(element)">
                    <mat-icon>download</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
  
        </ng-template>
  
      </mat-card-content>
    </mat-card>
  </div>
  