<app-container>
  <mat-card class="cadastro-form-base">
    <form [formGroup]="cadastroForm" >
      <mat-card-title>
       {{title}}
      </mat-card-title>
      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" placeholder="Username">
              <mat-error *ngIf="cadastroForm.get('username')?.errors">Username é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome Completo</mat-label>
              <input type="text" matInput formControlName="nome_completo" placeholder="Nome">
              <mat-error *ngIf="cadastroForm.get('nome_completo')?.errors">Nome é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Selecione seu vinculo</mat-label>
              <mat-select formControlName="vinculo">
                <mat-option value="Estatuário">Estatuário</mat-option>
                <mat-option value="Não Selecionado">Não Selecionado</mat-option>
              </mat-select>
              <mat-error *ngIf="cadastroForm.get('vinculo')?.errors">Vinculo é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Selecione sua classe</mat-label>
              <mat-select formControlName="classe">
                <mat-option value="a">Classe A</mat-option>
                <mat-option value="b">Classe B</mat-option>
                <mat-option value="c">Classe C</mat-option>
                <mat-option value="d">Classe D</mat-option>
                <mat-option value="e">Classe E</mat-option>
              </mat-select>
              <mat-error *ngIf="cadastroForm.get('classe')?.errors">Classe é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Selecione seu regime de trabalho</mat-label>
              <mat-select formControlName="regime_de_trabalho">
                <mat-option value="Exclusivo">Exclusivo</mat-option>
                <mat-option value="Integral">Integral</mat-option>
                <mat-option value="Parcial">Parcial</mat-option>
              </mat-select>
              <mat-error *ngIf="cadastroForm.get('regime_de_trabalho')?.errors">Regime de Trabalho é obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Selecione sua Titulação</mat-label>
              <mat-select formControlName="titulacao">
                <mat-option value="Graduação">Graduação</mat-option>
                <mat-option value="Especialização">Especialização</mat-option>
                <mat-option value="Mestre">Mestre</mat-option>
                <mat-option value="Doutor">Doutor</mat-option>
              </mat-select>
              <mat-error *ngIf="cadastroForm.get('titulacao')?.errors">Titulação é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Instituto</mat-label>
              <input type="text" matInput formControlName="instituto" placeholder="Digite seu Instituto">
              <mat-error *ngIf="cadastroForm.get('instituto')?.errors">Instituto é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>SIAPE</mat-label>
              <input type="text" matInput formControlName="siape" placeholder="Digite seu siape">
              <mat-error *ngIf="cadastroForm.get('siape')?.errors">SIAPE é obrigatória</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Selecione seu Campus</mat-label>
              <mat-select formControlName="campus">
                <mat-option value="Belém">Belém</mat-option>
                <mat-option value="Capanema">Capanema</mat-option>
                <mat-option value="Capitão Poço">Capitão Poço</mat-option>
                <mat-option value="Paragominas">Paragominas</mat-option>
                <mat-option value="Parauapebas">Parauapebas</mat-option>
                <mat-option value="Tomé-Açu">Tomé-Açu</mat-option>
              </mat-select>
              <mat-error *ngIf="cadastroForm.get('campus')?.errors">Campus é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class="full-width">
        <button mat-fab extended
          (click)="executarAcao()"

        >CADASTRAR
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</app-container>
